<h1>
    <%=title%>
</h1>
<form id="formulario">
        <input type="hidden" name="id" id="id">
        <label for="username">Nome completo:</label>
        <input name="username" id="username" type="text"><br>
        <label for="email">Email:</label>
        <input name="email" id="email" type="text"><br>
        <label for="cpf">CPF:</label>
        <input name="cpf" id="cpf" type="text"><br>
        <label for="dataNascimento">Data Nascimento:</label>
        <input name="dataNascimento" id="dataNascimento" type="text"><br>
        <label for="telefone">Telefone:</label>
        <input name="telefone" id="telefone" type="text"><br>
        <label for="endereco">Endereço:</label>
        <input name="endereco" id="endereco" type="text"><br>
        <label for="password">Senha:</label>
        <input name="password" id="password" type="text"><br>
        <button type="submit">ENVIAR</button>
        <button type="reset">CANCELAR</button>
</form>

<span id="error"></span>

<% if(error){%>
    <span><%=error%></span>
<%}%>

<table>
    <thead>
        <tr>
            <% for (let col of cols) { %>
                <th><%= col %></th>
            <% } %>
            
        </tr>
    </thead>
    <tbody>
        <% for (let user of users) { %>
            <tr>
                <% for (let prop in user) { %>
                    <td><%= user[prop] %></td>
                <% } %> 
                <td>
                    <button onclick = "editUser('<%=user.id%>')">EDITAR</button>
                    <button onclick = "deletarUser('<%=user.id%>')">DELETAR</button>
                </td>
            </tr>
        <% } %>    
    </tbody>
</table>

<script>

    //paramos aqui 
    const form = document.getElementById('formulario')

    form.addEventListener("submit", (e)=>{
        e.preventDefault()

        const formData = new FormData(form)
        const user = {}
        formData.forEach((v, k)=>{
            user[k] = v
        })

        let id = user.id
        let METHOD = id ? 'PUT' : 'POST';
        let URL = id ? '/users/${id}' : '/users';

        console.log(user)

        fetch(URL, {
            method: METHOD,
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(user)
        })
        .then((res) =>  {return res.json()})
        .then((user) =>  {console.log( 'foi salvo', user)})
        .catch((error) =>  {document.getElementById('error').innerText = error}) 
    })

    function editUser(id){
        fetch("/users/"+id, {
            method: "GET",
        })
        .then(async (res)=>{
            if(!res.ok){
            const err = await res.json()
            throw err
            }
            return res.json()
        })
        .then((user) =>  {
            console.log( 'retornou o usuário', user)
           for(let prop in user){
            const input = document.querySelector(`input[name="${prop}"]`)
            input.value = user[prop] 
           }
        })
        .catch((error) =>  {document.getElementById('error').innerText = error}) 
 
    }

    // perguntar pq n ta dando refresh 
    function deletarUser(id){
        fetch("/users/"+id, {
            method: "DELETE"
        })
        .then(async (res)=>{
            if(!res.ok){
            const err = await res.json()
            throw err
            }
            return res.json()
        })
        .then((user) =>  {
           window.location.reload();
        })
        .catch((error) =>  {document.getElementById('error').innerText = error}) 
 
    }

</script>
